body {
    background-color: #F9F9F9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.banner{
    background-color: #00b8d4;
    height: 150px;
}
